@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");

body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f9f3ec;
}

#root {
	margin: 0 auto;
	padding: 0 auto;
	/* text-align: center; */
	background-color: #f9f3ec;
	max-width: 100vw;

	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
}

.page-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	/* justify-content: center; */
	background-color: #f9f3ec;
	padding: 1em 1em;
	min-height: 80vh;
}

.main-container {
	display: flex;
	align-items: center;
	flex-direction: column;

	justify-content: center;
	background-color: #f9f3ec;
	padding-bottom: 1em;
	overflow: hidden;
}

.content-page-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em 1em;
}

/* .content-page-container-logs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em 1em;
	height: 94vh;
} */

main {
	flex-grow: 1;
}

footer {
	flex-grow: 1;
	display: flex;
	align-items: flex-end;
}

.list-content {
	display: flex;
	align-items: center;
	flex-direction: column;
	/* width: 100vw; */
	padding: 6em 0 4em 0;
	height: fit-content;
}

.container {
	background-color: #f9f3ec;
	border-radius: 17px;
	width: 80%;
}

h1 {
	font-size: 2.7em;
	color: #0a210f;
	font-weight: 900;
	margin: 0.5em 0;
	text-align: center;
	text-transform: capitalize;
	font-family: "Bagel Fat One", cursive;
}

h1 span {
	color: #ffaa5a;
}

.sub-h1 {
	font-size: 2.1em;
}

h2 {
	margin: 0.7em 0;
	font-size: 1.1em;
	font-weight: 500;
	line-height: 2;
	color: #0a210f;
	text-align: center;
}

.font-styled {
	font-family: "Bagel Fat One", cursive;
	font-size: 1.4em;
	margin: 0.2em;
}

.bold {
	font-weight: 700;
}

p {
	color: #0a210f;
}

h4,
h5 {
	margin: 0.2em;
}

p.error-message {
	color: red;
	text-align: center;
	font-weight: bold;
}

p.intro {
	padding: 0 1em;
	text-align: center;
	line-height: 2;
}

.logo {
	height: 17vh;
	will-change: transform;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
	padding: 0 0.7em;
}

.logo:hover {
	transform: scale(1.1);
}

button {
	margin: 0.7em;
	padding: 0.9em 1.2em;
	font-family: "Poppins", sans-serif;
	font-size: 1.1em;
	letter-spacing: 0.7px;
	border-radius: 7px;
	cursor: pointer;
}

.display-none {
	display: none;
}

.nav-btns {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90vw;
	margin-bottom: 1em;
	cursor: pointer;
}

.back-arrow {
	display: block;
	width: 3em;
}

/*  !FOOTER CSS */

.copyright-section > p {
	text-align: center;
	font-size: 0.5em;
	line-height: 1.2;
	color: #6b6054;
}

/* !LANDING PAGE CSS */

.hero-banner {
	display: flex;
	justify-content: center;
}

.landingPimg {
	width: 92%;
}

.go-to-auth-ctas {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2em 0;
}

.btn-login {
	background-color: #ffaa5a;
	border: none;
	color: #0a210f;
	font-weight: 700;
	cursor: pointer;
}

.btn-logout {
	background-color: rgb(192, 197, 255);
	border: none;
	color: #0a210f;
	font-weight: 700;
	cursor: pointer;
	margin: 0;
	font-size: 1em;
}

.submit-found-pet {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn-signup {
	border: none;
	background-color: #0a210f;
	color: #f9f3ec;
	font-weight: 700;
	cursor: pointer;
}

/* !HOMEPAGE CSS */

.pet-banner {
	width: 17em;
}

.buttons-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-decoration: none;
}

.VIP-section {
	display: flex;
	flex-direction: column;
	/* margin-top: 4em; */
}

.homepage-btns {
	margin: 1.4em 0;
	border-radius: 4px;
	border: none;
	text-align: center;
	display: inline-block;
	width: 80vw;
	height: 25vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #0a210f;
	font-weight: 900;
	font-size: 2em;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.background {
	/* background-color: #f9f3ec; */
	background-color: rgba(255, 218, 198, 0.7);
}

.dogs-btn {
	background-image: url("./assets/yellow_doggy.jpeg");
	cursor: pointer;
}

.cats-btn {
	background-image: url("./assets/HP-catty.jpeg");
	cursor: pointer;
}

.hedg-btn {
	background-image: url("./assets/hedgehog-HP.jpeg");
	cursor: pointer;
}

/* !LOGIN & SIGNUP FORMS CSS */

.landingForm {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.landingInput {
	font-size: 1em;
	padding: 1em;
	margin-bottom: 2em;
	background-color: white;
	width: 70vw;
	height: 2em;
	border: none;
}

.landingInput::placeholder {
	font-family: "Poppins", sans-serif;
}

.bottom {
	margin: 0;
}

#show-password {
	margin: 0.7em 0 2em;
	font-size: 0.7em;
	color: #0a210f;
}

#show-password:active {
	color: #0a210f;
}

.landingButton {
	margin-top: 20px;
	cursor: pointer;
	background-color: rgb(237, 193, 193);
	border: none;
	color: white;
	border-radius: 10px;
	padding: 10px;
}

.landingRegisterButton {
	top: 60px;
	right: 20px;
	background-color: rgb(192, 197, 255);
	cursor: pointer;
	border: none;
	border-radius: 10px;
	color: white;
	padding: 10px;
}

label {
	font-size: 1em;
	font-weight: bold;
	color: #0a210f;
	margin: 1em 0;
}

.landing_pet {
	width: 16em;
}

/* !FILTER COMPONENT */
#filter-popup {
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	padding: 10px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
	#filter-popup {
		top: 0;
		height: 100%;
		overflow: scroll;
	}
}

/* !FOUND A PET FORM */
/* html {
	background-color: rgb(249, 243, 236);
} */

.write {
	padding-top: 50px;
	height: calc(105vh - 50px);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: rgb(249, 243, 236);
}
.writeTitle {
	color: #002a32;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Playfair Display", serif;
	font-style: italic;
	font-size: 2em;
}

.writeImg {
	margin: 2em;
	width: 70vw;
	height: auto;
	border-radius: 4px;
	object-fit: cover;
}

.writeForm {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.writeForm > label {
	margin: 10px 0;
}

.writeIcon {
	font-size: 16px;
	color: grey;
	cursor: pointer;
}

.writeInput {
	padding: 10px;
	background-color: white;
	border: none;
	width: 200px;
}

.writeSubmit {
	margin-top: 20px;
	cursor: pointer;
	background-color: #ffaa5a;
	border: none;
	color: white;
	border-radius: 10px;
	font-size: 16px;
	padding: 10px;
}

.btn-send-form {
	border: none;
	padding: 1.7em;
	background-color: #5e2bff;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

.dropDownInput {
	height: 3em;
	font-size: 0.9em;
	margin-bottom: 2em;
	width: 70vw;
	background-color: white;
	border: none;
	padding-left: 1em;
	font-family: "Poppins";
}

.dropDownInput ::placeholder {
	font-family: "Poppins", sans-serif;
}
/* !PAGELIST CSS */

.cards-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 2rem;
	justify-items: center;
	width: 90vw;
	padding-bottom: 5em;
}

.card {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 7px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card > a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-decoration: none;
}

.card-image {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1em;
}

.card-image > img {
	width: 19em;
	object-fit: cover;
}

.card-content {
	display: flex;
	width: 80%;
	justify-content: center;
	flex-direction: column;
	margin: 0 1em;
}

.card-name {
	font-size: 1.1em;
	color: #5e2bff;
}

.card-breed {
	font-size: 0.8em;
	color: #0a210f;
}
.card-specie {
	font-size: 0.8em;
	color: #0a210f;
}

.card-location {
	color: #0a210f;
}

.card-infos {
	font-size: 0.8em;
	margin: 0.2em;
}

/* !SINGLE PAGE CSS */

.highlighted-blue {
	color: #5e2bff;
}

.green {
	color: #0a210f;
}

.small {
	font-size: 0.7em;
}

.detail-image {
	margin-bottom: 1em;
}

.detail-image > img {
	border-radius: 7px;
	height: 14em;
	object-fit: cover;
}

.detail-content {
	display: flex;
	width: 91%;
	justify-content: center;
	flex-direction: column;
	margin: 0 1em;
}

.detail-breed {
	font-size: 1em;
	color: #0a210f;
}

.detail-location {
	font-size: 1em;
	margin-bottom: 1em;
}

.detail-infos {
	margin-bottom: 1em;
	font-size: 1em;
}

.btn-go-to-adopt-form {
	margin: 2em 0;
	border: none;
	padding: 1em;
	background-color: #5e2bff;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

/* !FORMSUBMITTED CSS */
.thankYouimg {
	width: 92%;
	border-radius: 7px;
	margin-bottom: 2em;
}

.btn-return-HP {
	border: none;
	padding: 1.7em;
	background-color: #5e2bff;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

.link-to-HP {
	display: flex;
	align-items: center;
}

/* !DONATION */
.DonationWidget {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 1em;
}

.sub-title {
	font-family: "Bagel Fat One", cursive;
	font-size: 2em;
	font-weight: 900;
	line-height: normal;
}

.pet-food {
	padding: 0.7em;
	width: 3em;
	font-size: 1.2em;
}

.DonationWidget_pricePoint {
	border-radius: 8px;
	background-color: #fff;
	border: 2px solid #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	padding: 0.3em;
	font-weight: 700;
	text-align: center;
	font-size: 1.4em;
	cursor: pointer;
	color: #222;
}

.form-item {
	margin-bottom: 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	width: 80vw;
}

.form-item > input {
	font-family: "Poppins", sans-serif;
	height: 48px;
	border: 6px solid #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	width: 50%;
	font-size: 1em;
}

.btn-donation {
	background-color: rgb(192, 197, 255);
	border: none;
	color: #0a210f;
	font-weight: 700;
	cursor: pointer;
	margin: 1.7em;
}

.donation-container {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 3em 0;
	border-radius: 4px;
	width: 22em;
}

/* !FAVORITES PAGE CSS */
/* .favorite-img {
	flex-grow: 1;
} */

.favorite-img > img {
	width: 5em;
	border-radius: 7px;
}

.favorite-table {
	width: 100%;
	padding: 0.5em 3em;
	border-spacing: 2.7em 3em;
}

tbody {
	display: flex;
	flex-direction: column;
	align-items: center;
}

tr {
	color: #002a32;
}

.td-margin {
	padding: 0.7em;
}

.td-name {
	color: #5e2bff;
	font-weight: bold;
	text-align: left;
}

.pet-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 19em;
}

.product {
	height: 10em;
}

.action {
	display: flex;
	justify-content: center;
}

.unit-price {
	font-size: 1.4em;
	font-weight: 500 !important;
	color: #002a32;
}

.quantity-input {
	width: 3em;
	font-size: 1em;
	font-weight: 400;
	color: #002a32;
	padding: 0.2em;
	border: 1px solid wheat;
	border-radius: 4px;
	outline: 0;
	text-align: center;
	background-color: wheat;
}

.subtotal-value {
	font-size: 1.4em;
	font-weight: 700;
	color: #ff8552;
}

.btn-delete {
	border: none;
	background-color: #ff8552;
	margin-right: 0;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	font-family: inherit;
	font-weight: 700;
	font-size: 1em;
	text-align: center;
	padding: 0.7em;
	transition: all 0.3s ease-out;
}

.btn-delete:hover {
	background-color: #002a32;
	border: 1px solid #002a32;
	transition: 0.5s;
}

.total-title {
	font-size: 1.5em;
}

.favorite-ctas {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 3em;
}

.btn-empty {
	border: 1px solid #ff8552;
	background-color: #ff8552;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	font-family: inherit;
	font-weight: 700;
	font-size: 1em;
	text-align: center;
	padding: 0.7em;
	transition: all 0.3s ease-out;
}

.btn-go-browse {
	border: 1px solid #002a32;
	background-color: #002a32;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	font-family: inherit;
	font-weight: 700;
	font-size: 1em;
	text-align: center;
	padding: 0.7em;
	transition: all 0.3s ease-out;
}

.empty-favorite {
	color: #002a32;
	text-align: center;
}

.btn-add-to-favorites {
	margin: 0 0 2em 0;
	border: none;
	padding: 1em;
	background-color: #0a210f;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

/* !NAV CSS */
nav {
	background-color: #fff;
	width: 150%;
}

.nav-header {
	display: flex;
	align-items: center;
	height: 7em;
}

.btn-donate {
	background-color: rgb(192, 197, 255);
	border: none;
	color: #0a210f;
	font-weight: 700;
}

.bm-burger-button {
	display: flex;
	align-items: center;
	position: absolute;
	width: 36px;
	height: 30px;
	left: 20px;
	top: 20px;
	margin-left: 20em;
}
.bm-overlay {
	background-color: none;
}

.bm-burger-bars {
	background: #0a210f;
	margin-top: 1.5em;
	opacity: 1;
}

.bm-cross {
	background: #bdc3c7;
}

.bm-menu-wrap {
	position: fixed;
	height: 100%;
}

.bm-item-list {
	padding-left: 1.7em;
}

.bm-item {
	margin-bottom: 10px;
}

.bm-menu {
	background: white;
	padding: 3em 1.5em 0 0;
	font-size: 1.15em;
}

.menu-item {
	color: #0a210f;
	text-decoration: none;
	margin: 0 0 1.9em;
	font-weight: 700;
}

.btn-bun-bun {
	margin: 0;
	padding: 0;
	border: none;
	background-color: #f9f3ec;
}

/* !ADMIN DASHBOOARD CSS */

.btn-admin-go-to-dash {
	display: block;
	background-color: rgb(192, 197, 255);
	border: none;
	color: #0a210f;
	font-weight: 700;
	cursor: pointer;
	margin: 0 0 1.7em;
	font-size: 1em;
}

.dash-section {
	margin-bottom: 1em;
	width: 17em;
}

.pet-detail {
	background-color: #fff;
	padding: 2em;
}

.buttons {
	display: flex;
	font-size: small;
}

.btn-admin {
	margin-top: 20px;
	cursor: pointer;
	border: none;
	color: white;
	border-radius: 10px;
	padding: 10px;
	background-color: rgb(192, 197, 255);
}

.dashboard-btns {
	width: 100%;
	border: none;
	background-color: #5e2bff;
	color: white;
	font-weight: bold;
}

.btn-back-to-website {
	width: 100%;
	border: none;
	background-color: #ff8552;
	color: white;
	font-weight: bold;
}

.countdown {
	display: none;
}

.carrot {
	width: 88vw;
}

.rabbit {
	width: 50vw;
}
